name: Main

on:
  pull_request:
    paths:
      - "lab_3/part_1/**"
    paths-ignore:
      - "docs/**"
      - "README.md"
      - "LICENSE"
      - "**.md"

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["20", "24"]
    steps:
      - uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-${{ hashFiles('lab_3/part_1/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-

      - name: Set up Node.js ${{ matrix.node-version }}
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        id: install-dependencies
        working-directory: lab_3/part_1
        run: |
          npm install

      - name: Run Jest tests
        id: run-tests
        working-directory: lab_3/part_1
        run: |
          npm test
